params {
    metadata     = "${projectDir}/../data/metadata.csv"
    outdir       = "results"
    train_cutoff = 2022
    test_years   = [2023, 2024]
    antibiotics  = ['meropenem', 'ciprofloxacin', 'ceftazidime', 'amikacin']

    max_samples  = -1  // -1 = all samples; cap for quick dev runs
}

docker.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue    = params.aws_queue
        aws.region        = params.aws_region
        workDir           = params.aws_workdir
    }
}
