params {
    metadata        = "${projectDir}/../data/metadata.csv"
    train_cutoff    = 2022
    test_years      = [2023, 2024]
    antibiotics     = ['meropenem', 'ciprofloxacin', 'ceftazidime', 'amikacin']

    max_samples     = -1  // -1 = all samples; cap for quick dev runs

    genome_size     = 5500000
    target_coverage = 100

    reference_url   = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/240/185/GCF_000240185.1_ASM24018v2/GCF_000240185.1_ASM24018v2_genomic.fna.gz'
}

docker.enabled = true
outputDir       = 'results'

profiles {
    standard {
        process.executor = 'local'
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue    = params.aws_queue
        aws.region        = params.aws_region
        workDir           = params.aws_workdir
    }
}
